<div id="footerDiv1">
  <img src="../images/grape-fruit.png" id="footerImg">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro itaque velit ex nostrum magni ipsa minima aut,
    fugit pariatur expedita adipisci repellat. Suscipit nam dolores aut fugit voluptatum architecto incidunt temporibus
    ut debitis reiciendis autem perspiciatis magnam voluptatem laborum, atque sint deleniti! Repellendus blanditiis
    totam sapiente ratione, molestias vero nostrum!</p>
</div>


</body>

</html>