<!-- NO SE SI ES MEJOR PONERLO ENCIMA O DEBAJO DE LOS INPUTS DE EDITAR Y AÑADIR PARCELAS ?? -->

<div id="mapDiv">
  <h2 class="editTitle"> ** Scroll and drag to move arround and click on the map to place your land plot... :</h2>

  <div id="map"></div>
</div>


<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>