<%- include('../z_partials/_header'); %>
  <br>
  <div class="mainDiv">

    <div class="welcomeMsg">
      <h1>Welcome to your Farm Management App !!</h1>
      <%- include('../z_partials/_messages'); %>
    </div>
    <div id="homepageDiv">

      <h4>Please Sign In or Register to Use the App :</h4>
      <div class="welcomeDiv">
        <div class="button welcomeBtn"><span title="Sign In"><a href="/login"><img src="../images/login.png"
                class="navBarIcon welcomeIcon"></a></span>
        </div>
        <div class="button welcomeBtn"><span title="Register"><a href="/register"><img src="../images/register.png"
                class="navBarIcon welcomeIcon"></a></span></div>
      </div>
    </div>

  </div>

  <%- include('../z_partials/_footer'); %></br>